body{
    margin: 0px;
    padding: 0px;
}
// Top Navbar CSS CODE 
.top-nav{
    background: $secondary-color;
    overflow: hidden;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    .welcome_text{
        
        h4{
            margin: 0px;
            padding: 10px;
            font-weight: bold;
            font-family: $font_family;
            color: $menus-item-color;
        }
    }
    .search_bar{
         width: 300px;
        .search-input{
            padding: 6px;
            background: silver;
            border: 1px solid silver;
            margin-left: 0px;
            margin-top:5px;
            width: 100%;
        }  
    }
}
// Primary Menu CSS CODE 
nav{
    background: linear-gradient(rgba(0, 0, 0, 0.801),rgba(0, 0, 0, 0.774));
    padding: 10px 0px;
    clear: both;
    position: relative;


    .container{
        width: 1170px;
        margin: auto;
        .flexbox{
            display: flex;
            justify-content: space-between;
        }
        .nav-logo{
            width: 200px;
            position: relative;
            overflow: hidden;
            a{
                text-decoration: none;
                color: $light_white;
                font-weight: bold;
                font-size: 2rem;
                font-family:$font_family;
                user-select: none;
            }
        }
        menu{ 
            position: relative;
            margin: 0px;
            padding: 0px;
            
            .primary-menu{
                margin: 0px;
                padding: 10px;
               
                li{
                    display: inline-block;
                    a{
                        text-decoration: none;
                        color: $menus_item_color;
                        font-weight: bold;
                        font-family: $font_family;
                        padding: 10px 20px;
                        transition: all 0.2s;

                        &:hover{
                            background: $secondary-color;
                        }

                    }
                }
            }
        }
    }
}

// Dropdown Menu 
.dropdown-btn {
    .dropdown-menu{
        background: $secondary-color;
        position: absolute;
        margin: 0px;
        padding: 0px;
        width: 200px;
        top: 48px;
        // transform: skew(90deg);
        // transition: transform 0.2s;
        // transform-origin: top;
        height: 0px;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
        li{
            display: block !important;
            a{
                padding: 10px 22px !important;
                display: block !important;

                &:hover{
                    background: $primary-color !important;
                }
            }
        }
    }
    &:hover .dropdown-menu{
        height: 120px;
        opacity: 1;
       
    }
}

// Megamenu 
.megaMenu-btn{
    .megamenu-main{
        width: 1911px;
        position: absolute;
        background: rgba(0, 0, 0, 0.767);
        left: -1063px;
        margin-top: 15px;
        opacity: 0;
        transition: .2s;
        transform: scaleY(0);
        transform-origin: top;
        
        .megamenu{
            display: flex;
            justify-content: space-between;
            
            .megamenu-item{
                width: 280px;
                padding: 20px 30px;
                img{
                    width: 100%;
                    margin-top: 20px;
                }
                h3{
                    color: $light_white;
                    font-weight: bolder;
                    font-family: $font_family;
                    margin: 0px;
                    margin-bottom: 10px;
                }
                ul{
                    margin: 0px;
                    padding: 0px;
                    li{
                        display: block;
                        a{
                            display: block;
                            &:hover{
                                background: rgb(61, 57, 57);
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    &:hover .megamenu-main{
        opacity: 1 !important;
        transform: scaleY(1);
       
    }
}

// Header Item Section
.header_item_section{
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.801),rgba(0, 0, 0, 0.774)),url(../255.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;   
    .row{
        .col-6{
            padding: 120px 0px;
            h1{
                margin: 0px;
                color: white;
                font-family: $font_family;
                font-weight: bold;
                font-size: 4rem;
            }
            h2{
                font-family: $font_family;
                color: $menus_item_color;
                font-weight: bold;
                
            }
            a{
                padding: 10px 50px;
                background: white;
                color: black;
                font-family: $font_family;
                font-weight: bold;
                cursor: pointer;
                border: 1px solid silver;
                text-decoration: none;
                margin-top:20px;
                display: inline-block;
            }
            p{
                font-family: $font_family;
                color: rgb(138, 137, 136);
                font-size: 19px;
            }
        }
    }  
}